<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP8" version="2.8.0.8" targetFramework="wp80" />
  <package id="FlurryForWindowsPhone8" version="1.2" targetFramework="wp80" />
  <package id="GoogleAnalyticsTracker.Core" version="3.0.10" targetFramework="wp80" />
  <package id="GoogleAnalyticsTracker.WP8" version="3.0.10" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
</packages>